body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #161c2c;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 40px;
}

.board--tileWrapper {
  display: flex;
  flex-direction: column;
}

.board--addButton button {
  border: none;
  border-radius: 5px;
  height: 2em;
  width: 100%;
  background-color: #3c456a;
  color: #ffffff;
  color: #1c2233;
}

.tile-index {
  float: right;
  color: #dbe1ffad;
  font-size: 0.8em;
}
